[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git@github.com:magnocosta/puppet-postgresql.git
[submodule "modules/common"]
	path = modules/common
	url = git@github.com:magnocosta/puppet-common.git
